div {
  border: 1px solid red;
}

img {
  width: 40px;
  height: 40px;
}

.projCont {
  display: flex;
  flex-direction: row;
}

.devCont {
  display: flex;
  flex-direction: row;
  background-color: #696969;
}

.cardCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid blue;
  background-color: #ffffff;
}

.infoCont {
  border: 1px solid blue;
  background-color: #d9d9d9;
}

.nameCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-weight: bold;
  font-size: 39px;
}

.profession {
  font-size: 24px;
}

.about {
  font-size: 30px;
}

.workText {
  font-size: 30px;
  font-weight: bold;
}

.workList {
  font-size: 24px;
}

.cardLink {
  display: flex;
  flex-direction: row;
}
