:root {
    /*|----------------|
      |--NAVBAR STUFF--|
      |----------------|*/
    --nav-title-container-colour: #ffffffff;
    --nav-button-container-colour: red;

    --nav-button-normal-colour: #dedede;
    --nav-button-selected-colour: #b3b3b3;
    --nav-button-hover-colour: red;
}

body {
    margin: 0%;
    font-family: sans-serif;
}

.button {
    transition: 0.2s;
    user-select: none;
}

.hidden {
    visibility: hidden !important;
    display: none !important; 
}

  