:root {
    /*|----------------|
      |--NAVBAR STUFF--|
      |----------------|*/
    --nav-title-container-colour: #ffffffff;
    --nav-button-container-colour: red;

    --nav-button-normal-colour: #dedede;
    --nav-button-selected-colour: #b3b3b3;
    --nav-button-hover-colour: #b3b3b3;

    /*
        Home Stuff
    */
    --home-section-color: #ffffff;

    /*
        Contact Stuff    
    */
    --con-container-color: #696969;
    --con-button-color: #ffffff;
    --con-dropshadow-color: #2e2e2e;
}

body {
    margin: 0%;
    /*overflow-x: hidden;*/
    font-family: sans-serif;
}

.button {
    transition: 0.2s;
    user-select: none;
}

.hidden {
    visibility: hidden !important;
    display: none !important;
}