#nav {
    background-color: white;
    width: 100%;
    height: 30%;
    position: relative;
    z-index: 100;
    text-align: center;

}

#nav .nav-title {
    background-color: var(--nav-title-container-colour);
    height: 60%;
}

#nav .nav-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    background-color: var(--nav-button-container-colour);
    height: 40%;
}

#nav .nav-button-container .nav-button {
    background-color: var(--nav-button-normal-colour);
    cursor: pointer;
    flex-grow: 1;
}

#nav .nav-button-container .nav-button:hover {
    background-color: red;
}

.nav-fixed-pos {
    position: fixed;
    top: 0;
    height: 12% !important;
    width: 100%;
}