#page-home {
    width:100%;
}

/*|-------------|
  |--Section 1--| 
  |-------------|
*/
#page-home .section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    overflow: hidden;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/assets/img/background/ButterBack3.png");

    width: 100%;
    height: 100%;
}

#page-home .section-1 .download-container {
    align-self: center;
    background-color: #ffffff5d;
    height: 20%;
}

#page-home .section-1 .download-container .big-button:hover{
    cursor: pointer;
    background-color: yellow;
}



/*|-------------|
  |--Section 2--| 
  |-------------|
*/
#page-home .section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    overflow: hidden;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/assets/img/background/ButterBack1.png");

    width: 100%;
    height: 100%;
}


/*|-------------|
  |--Section 3--| 
  |-------------|
*/
#page-home .section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    overflow: hidden;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/assets/img/background/ButterBack0.png");

    width: 100%;
    height: 100%;
}


.infosection {
    --divider-rotation: 0deg;
    --divider-height: 38px;

    background-color: var(--home-section-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.infosection .text-container {
    margin: 0 10% 0 10%;
}

.infosection .text-container h2 {
    font-size: 250%;
}

.infosection .text-container p {
    font-size: 150%;
}

.infosection .info {
    display: flex;
    flex-direction: row;
}

.infosection .info .text-container {
    margin: 0 6vw 0 6vw;
    width: 50%;
}

.infosection .info .text-container h2{
    font-size: 300%;
}

.infosection .info .text-container p{
    font-size: 150%;
}

.infosection .info .image-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}

.infosection .info .image-container img {
    margin: 20px;
    
    width: 70%;
}

.infosection::before {
    flex-basis: 100%;
    border-top-style: solid;
    background-color: var(--home-section-color);
    ;
    border-top-color: black;
    border-top-width: 15px;
    filter: drop-shadow(0 -10px 5px var(--con-dropshadow-color));

    height: var(--divider-height);
    transform: rotate(var(--divider-rotation)) translate(0, -50%);
    content: " ";
    display: block;

    align-self: center;
    position: relative;
    width: 120%;
}

.infosection::after {
    flex-basis: 100%;
    border-bottom-style: solid;
    background-color: var(--home-section-color);
    ;
    border-bottom-color: black;
    border-bottom-width: 15px;
    filter: drop-shadow(0 10px 5px var(--con-dropshadow-color));

    height: var(--divider-height);

    transform: rotate(calc(var(--divider-rotation) * -1)) translate(0, 50%);
    content: " ";
    display: block;

    margin-left: auto;
    margin-right: auto;

    align-self: center;
    position: relative;
    width: 120%;
}

.scroll-container {
    display: flex;
    flex-direction: row;
    position: relative;
    align-self: center;
    width: 20%;
    background-color: #0000004d;
    padding: 0 1.5vw 0 1.5vw;
}

.scroll-container p {
    text-align: center;
    font-size: 1.5vw;
    color: #ffffff5d;
}

.scroll-container img {
    width: 60px;
}