/*|-------------|
  |--Section 1--| 
  |-------------|
*/

#page-home .section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://placekitten.com/1920/1080");

  width: 100%;
  height: 100%;
}

#page-home .section-1 .download-container {
  align-self: center;
  background-color: #ffffff5d;
  height: 20%;
}